<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
	</settings>
	
	<typeAliases>
		<!-- Domain에 별칭 부여 VO간략히 사용 -->
		<!-- 공통 부분 -->
		<typeAlias type="com.sist.last.cmn.SearchOrder" alias="SearchOrder"/>		
		<typeAlias type="com.sist.last.cmn.Search" alias="Search"/>
		<typeAlias type="com.sist.last.cmn.SearchPay" alias="SearchPay"/> 
		<typeAlias type="com.sist.last.cmn.SearchReview" alias="SearchReview"/> 
		<!-- //공통 부분 -->
		
		<typeAlias type="com.sist.last.vo.Member" alias="Member"/>
		<typeAlias type="com.sist.last.vo.Product" alias="Product"/>
	 	<typeAlias type="com.sist.last.vo.Opt" alias="Opt"/> 
		<typeAlias type="com.sist.last.vo.Payment" alias="Payment"/> 
		<typeAlias type="com.sist.last.vo.HousesLink" alias="HousesLink"/>	
 		<typeAlias type="com.sist.last.vo.Houses" alias="Houses"/> 
		<typeAlias type="com.sist.last.vo.Reply" alias="Reply"/>
		<typeAlias type="com.sist.last.vo.Star" alias="Star"/> 
		<typeAlias type="com.sist.last.vo.Scrap" alias="Scrap"/> 
		<typeAlias type="com.sist.last.vo.Review" alias="Review"/>
		<typeAlias type="com.sist.last.vo.Image" alias="Image"/> 
		<typeAlias type="com.sist.last.vo.Basket" alias="Basket"/> 
		<typeAlias type="com.sist.last.vo.Qna" alias="Qna"/> 
	</typeAliases>
</configuration>